
.CompanyCard {
    border: 1px solid white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 7%;
    color: black;
}

.CompanyCard-img {
    max-width: 5%;
    max-height: 5%;
    width: auto;
    height: auto;
    /* align-items: right; */
}

.CompanyCard-link {
    text-decoration: none;
}