nav {
    border-bottom: black solid 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: white;
}

nav a {
    text-decoration: none;
    margin-right: 5%;
    margin-left: 5%;
}

nav a.active {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

